{% extends '_layout.html' %}

{% block title %}Movie Rating App | Home{% endblock %}

{% block body %}
<h1 class="mb-5" style="color:red">Movie Rating App </h1>
<p class="mb-3" style="color:#6d6e6c">Welcome to the Moving Rating App! Here, you can create reviews of movies and save them in our in-house database.</p>
<p style="color:#6d6e6c">Check out our movie rating form to get started!</p>
<img src="http://www.clipartbest.com/cliparts/aTq/Ljr/aTqLjrqnc.jpg" alt="Movie time" width="600" height="571">
{% endblock %}
